.container {
  width: 1170px;
  margin: 0 auto;
}

main {
  background: url("../images/Vector.png");
}

.navbar ul {
  gap: 42px;
}
.navbar ul li a {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  color: #333333;
}

button {
  background: #FF3A44;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 13px 25px;
  border-radius: 50px 50px 50px 50px;
  border: none;
}

#banner {
  margin-top: 97px;
  margin-bottom: 107px;
}

#banner .item .text_area {
  margin-top: 25px;
}

#banner .item .text_area h1 {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

#banner .item .text_area p {
  width: 420px;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #888888;
}

#banner .item .text_area button {
  margin-top: 25px;
  margin-bottom: 100px;
}

#meeting .meeting_textarea h2 {
  width: 693px;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #FFFFFF;
  padding-top: 117px;
  text-align: center;
  margin-left: 245px;
}
#meeting p {
  width: 500px;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #D8D8D8;
  text-align: center;
  margin-top: 20px;
  margin-left: 340px;
}

#box .img117 {
  position: relative;
}
#box .img117 img {
  position: absolute;
  top: 120px;
  left: -100px;
}
#box .img116 {
  position: relative;
}
#box .img116 img {
  position: absolute;
  top: 103px;
  right: -40px;
}
#box .item {
  position: relative;
  padding-top: 150px;
  width: 300px;
  background: #FF3A44;
  border-radius: 20px;
}
#box .item .box_img {
  position: absolute;
  top: 45px;
  left: 110px;
}
#box .item h3 {
  width: 229px;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  color: #FFFFFF;
  text-align: center;
  margin-left: 35px;
}
#box .item p {
  width: 269px;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  text-align: center;
  margin-left: 15px;
  padding-bottom: 91px;
}
#box .item:nth-child(3) {
  background: #FFBD2F;
  left: 200px;
}
#box .item_2 {
  position: relative;
  padding-top: 150px;
  width: 300px;
  background: #FFBD2F;
  border-radius: 20px;
}
#box .item_2 .box_img {
  position: absolute;
  top: 45px;
  left: 110px;
}
#box .item_2 h3 {
  width: 229px;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  color: #FFFFFF;
  text-align: center;
  margin-left: 35px;
}
#box .item_2 p {
  width: 269px;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  text-align: center;
  margin-left: 15px;
  padding-bottom: 91px;
}
#box .item_3 {
  position: relative;
  padding-top: 150px;
  width: 300px;
  background: #0489CA;
  border-radius: 20px;
}
#box .item_3 .box_img {
  position: absolute;
  top: 45px;
  left: 110px;
}
#box .item_3 h3 {
  width: 229px;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  color: #FFFFFF;
  text-align: center;
  margin-left: 35px;
}
#box .item_3 p {
  width: 269px;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  text-align: center;
  margin-left: 15px;
  padding-bottom: 91px;
}

#happy {
  padding-top: 85px;
}
#happy h2 {
  width: 702px;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 40px;
}
#happy .happy_text {
  margin-top: 40px;
  margin-bottom: 90px;
}
#happy .happy_text h3 {
  width: 185px;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #D8D8D8;
  margin-left: 20px;
}
#happy .happy_text .happyone {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 50px;
  color: #FFBD2F;
}
#happy .happy_text p {
  width: 249px;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #D8D8D8;
  margin-left: 60px;
}
#happy .happy_text .tow {
  width: 249px;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #D8D8D8;
  margin-left: 66px;
}
#happy .happy_text .three {
  width: 249px;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #D8D8D8;
  margin-left: 68px;
}

#chart .chartbox {
  width: 450px;
  height: 120px;
  border-radius: 16px;
  background: #0C5F79;
  margin-top: 40px;
}

#chart .chartbox .circle {
  width: 25px;
  height: 25px;
  border-radius: 100px;
  background: #0489CA;
  margin-left: 25px;
  margin-top: 18px;
}

#chart .chartbox .circle h4 {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 5px;
}

#chart .chartbox .chart_textarea h3 {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  margin-left: 10px;
  margin-top: 5px;
  padding-top: 19px;
}

#chart .chartbox p {
  width: 340px;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #D0D0D0;
  margin-left: 60px;
}

#chart .chartbox02 {
  width: 450px;
  height: 120px;
  border-radius: 16px;
  background: #0C5F79;
  margin-top: 25px;
  margin-bottom: 25px;
}

#chart .chartbox02 .circle {
  width: 25px;
  height: 25px;
  border-radius: 100px;
  background: #FFBD2F;
  margin-left: 25px;
  margin-top: 18px;
}

#chart .chartbox02 .circle h4 {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 5px;
}

#chart .chartbox02 .chart_textarea h3 {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  margin-left: 10px;
  margin-top: 5px;
  padding-top: 19px;
}

#chart .chartbox02 p {
  width: 340px;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #D0D0D0;
  margin-left: 60px;
}

#chart .chartbox03 {
  width: 450px;
  height: 120px;
  border-radius: 16px;
  background: #0C5F79;
  margin-top: 25px;
  margin-bottom: 25px;
}

#chart .chartbox03 .circle {
  width: 25px;
  height: 25px;
  border-radius: 100px;
  background: #FF3A44;
  margin-left: 25px;
  margin-top: 18px;
}

#chart .chartbox03 .circle h4 {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 5px;
}

#chart .chartbox03 .chart_textarea h3 {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  margin-left: 10px;
  margin-top: 5px;
  padding-top: 19px;
}

#chart .chartbox03 p {
  width: 340px;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #D0D0D0;
  margin-left: 60px;
}

#chart .chart_box {
  width: 665px;
  background: #0C5F79;
  border-radius: 25px;
}
#chart .chart_box img {
  padding: 33px 27px;
}

#help {
  margin-top: 57px;
  padding-bottom: 257px;
}

#help .helpbox {
  width: 1170px;
  border-radius: 45px;
  background: #0C5F79;
}

#help .help_text h2 {
  width: 519px;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: #FFFFFF;
  padding-top: 84px;
  margin-left: 114px;
}

#help .help_text button {
  margin-bottom: 75px;
  margin-left: 114px;
  margin-top: 30px;
}

#help p {
  width: 398px;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  margin-top: 108px;
}

#our {
  margin-top: 111px;
}

#our .our_text {
  width: 504px;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #FFFFFF;
  margin: 0 auto;
}

#our .our_picture {
  position: relative;
}

#our .ourman_icon .man {
  position: absolute;
  top: -32px;
  left: 0px;
}

#our .our_textarea p {
  width: 482px;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #C6C6C6;
  margin-top: 153px;
}

#our .our_img {
  position: relative;
}

#our .our_img img {
  position: absolute;
  top: 37px;
  left: -50px;
}

#our .our_textarea h3 {
  width: 482px;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 25px;
}

#our .our_textarea .our_p {
  width: 482px;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #C6C6C6;
  margin-top: 25px;
}

#our .circle {
  gap: 9px;
}

#our .circle .box {
  width: 14px;
  height: 14px;
  background: #FFBD2F;
  border-radius: 100px;
}

#our .circle .box02 {
  width: 14px;
  height: 14px;
  background: #0D6785;
  border-radius: 100px;
}

#our .circle .box03 {
  width: 14px;
  height: 14px;
  background: #0D6785;
  border-radius: 100px;
}

footer {
  background: #0B4C61;
}

footer .footer_logo {
  margin-left: 70px;
}

footer p {
  width: 260px;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #E6E6E6;
  margin-top: 23px;
  margin-left: 70px;
  padding-bottom: 92px;
}

footer h2 {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  color: #FFFFFF;
  margin-top: 13px;
  margin-left: 140px;
}

footer .fp {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #E6E6E6;
  margin-left: 140px;
}

footer .footer_icon {
  width: 45px;
  height: 45px;
  border-radius: 100px;
  background: #FFFFFF;
}

footer li {
  list-style: none;
}

footer .fb {
  margin-top: 15px;
  margin-left: -17px;
}

footer .fid {
  margin-top: -70px;
  margin-left: 136px;
}/*# sourceMappingURL=style.css.map */