

footer .footer_logo{
    margin-left: 70px;
}

footer p{
    width: 260px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #E6E6E6;
    margin-top: 23px;
    margin-left: 70px;
    padding-bottom: 92px;
}