#help{
    margin-top: 57px;
    padding-bottom: 257px;
}

#help .helpbox{
    width: 1170px;
    border-radius: 45px;
    background: #0C5F79;
}


#help .help_text h2{
    width: 519px;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
    padding-top: 84px;
    margin-left: 114px;
}

#help .help_text button{
    margin-bottom: 75px;
    margin-left: 114px;
    margin-top: 30px;
}

#help p{
    width: 398px;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 108px;
}