#meeting{
    
    .meeting_textarea h2{
        width: 693px;
        font-family: "Poppins", serif;
        font-weight: 700;
        font-size: 38px;
        line-height: 48px;
        color: #FFFFFF;
        padding-top: 117px;
        text-align: center;
        margin-left: 245px;
    }
    p{
        width: 500px;
        font-family: "Poppins", serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #D8D8D8;
        text-align: center;
        margin-top: 20px;
        margin-left: 340px;
    }

}