
.navbar{
    ul{
        gap: 42px;
        li{
            a{
                font-family: "Poppins", serif;
                font-weight: 400;
                font-size: 15px;
                line-height: 16px;
                color: #333333;
            }
        }
    }
}


button{
    @include button();
}
