#our{
    margin-top: 111px;
}

#our .our_text{
    width: 504px;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    color: #FFFFFF;
    margin: 0 auto;
}

#our .our_picture{
    position: relative;
 }

#our .ourman_icon .man{
   position: absolute;
   top: -32px;
   left: 0px;
}

#our .our_textarea p{
    width: 482px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #C6C6C6;
    margin-top: 153px;
}

#our .our_img{
    position: relative;
}

#our .our_img img{
    position: absolute;
    top: 37px;
    left: -50px;
}

#our .our_textarea h3{
    width: 482px;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 25px;
}

#our .our_textarea .our_p{
    width: 482px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #C6C6C6;
    margin-top: 25px;
}
#our .circle{
    gap: 9px;
}

#our .circle .box{
    width: 14px;
    height: 14px;
    background: #FFBD2F;
    border-radius: 100px;
}

#our .circle .box02{
    width: 14px;
    height: 14px;
    background: #0D6785;
    border-radius: 100px;
}

#our .circle .box03{
    width: 14px;
    height: 14px;
    background: #0D6785;
    border-radius: 100px;
}